<h1 class="bg-blue-50 text-2xl ">search for flights</h1>

<div class="flex">
  <div class="col">
    <div class="form-floating">
      <input class="border-2" type="text">
      <label class="text-primary">From</label>
    </div>
  </div>
  <div class="col">
    <div class="form-floating">
      <input class="border-2" type="text">
      <label class="text-primary">Destination</label>
    </div>
  </div>
</div>
<div class="flex">
  <div class="col">
    <div class="form-floating">
      <input class="border-2" type="date">
      <label class="text-primary">From date</label>
    </div>
  </div>
  <div class="col">
    <div class="form-floating">
      <input class="border-2" type="date">
      <label class="text-primary">to date</label>
    </div>
  </div>
</div>

<div *ngFor="let flight of searchResult ">
  {{flight}}
</div>
