


<div class="">
  <input class="" placeholder="Email" type="text" name="" id="Email">
  <label class="" for="Email">Email</label>
</div>
<div class="">
  <input class="" placeholder="First Name" type="text" name="" id="firstName">
  <label class="" for="firstName">First Name</label>
</div>

<div class="">
  <input class="" placeholder="Last Name" type="text" name="" id="lastName">
  <label class="" for="lastName">Last Name</label>
</div>

<div class="">
  <input class="" placeholder="Last Name"
         [value]=true type="radio"  id="isFemale">
  <label for="isFemale">Female</label>
</div>
<div class="">
  <input type="radio"  id="isFemale"
         [value]=false>
  <label for="isFemale">Male</label>
</div>
<div>
  <button type="submit">
    Login
  </button>
</div>
